
.stacked-bar-chart:vertical .chart-plot-background {
    -fx-background-color: #0E1726;
}

.stacked-bar-chart:vertical .chart-horizontal-grid-lines,
.stacked-bar-chart:vertical .chart-vertical-grid-lines,
.stacked-bar-chart:vertical .chart-horizontal-zero-line,
.stacked-bar-chart:vertical .chart-vertical-zero-line {
    -fx-stroke: #2B305B;
}

.stacked-bar-chart:vertical .chart-legend {
    -fx-background-color: #3B3F5C;
    -fx-padding: 10 10 10 10;
}

.chart-legend-label {
    -fx-text-fill: #ffffff;
}

.chart-legend .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-weight: 600;
}

.pie-chart {
	-fx-pref-width:350;
    -fx-pref-height: 350; 
    -fx-min-width: 350;
    -fx-min-height: 350;
    -fx-max-width: 350;
    -fx-max-height: 350;
}

.pie-chart .chart-content {
	-fx-padding: 20px;
}

.pie-chart .chart-legend {
	-fx-background-color: #3B3F5C;
}

.pie-chart .chart-pie-label-line {
    -fx-stroke: #2B305B;
    -fx-background-color: #2B305B;
    -fx-fill: #2B305B;
}

.pie-chart .chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 16;
    -fx-font-weight: 800;
}

.progress-bar {
    -fx-background-radius: 5;     
}

.progress-bar .track {
	-fx-background-radius: 5;
}

.progress-bar:determinate .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 1.1em;
	-fx-background-radius: 5;
}

.info-menu {
	-fx-background-color: #1B2E4B;
	-fx-padding: 10px;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

.info-menu .menu-item .label {
	-fx-text-fill: #ffffff; 
	-fx-font-size: 14px;
	-fx-padding: 10;
	-fx-font-weight: 800;
}

.info-menu .menu-item {
	-fx-cursor: hand;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

.info-menu .menu-item:hover {
	-fx-background-color: transparent;
	-fx-cursor: pointer;
}
.info-menu .menu-item:focused {
	-fx-background-color: transparent;
}


/* RED */
.Rosso0 .data0.chart-pie,
.Rosso0 .default-color0.chart-bar {
    -fx-pie-color: #FF4560;
    -fx-bar-fill: #FF4560;
}
.Rosso1 .data1.chart-pie,
.Rosso1 .default-color1.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso2 .data2.chart-pie,
.Rosso2 .default-color2.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso3 .data3.chart-pie,
.Rosso3 .default-color3.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso4 .data4.chart-pie,
.Rosso4 .default-color4.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso5 .data5.chart-pie,
.Rosso5 .default-color5.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso6 .data6.chart-pie,
.Rosso6 .default-color6.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso7 .data7.chart-pie,
.Rosso7 .default-color7.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso8 .data8.chart-pie,
.Rosso8 .default-color8.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso9 .data9.chart-pie,
.Rosso9 .default-color9.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}
.Rosso10 .data10.chart-pie,
.Rosso10 .default-color10.chart-bar{
    -fx-pie-color: #FF4560; 
    -fx-bar-fill: #FF4560;
}

/* GREY */
.Grigio0 .data0.chart-pie,
.Grigio0 .default-color0.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio1 .data1.chart-pie,
.Grigio1 .default-color1.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio2 .data2.chart-pie,
.Grigio2 .default-color2.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio3 .data3.chart-pie,
.Grigio3 .default-color3.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio4 .data4.chart-pie,
.Grigio4 .default-color4.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio5 .data5.chart-pie,
.Grigio5 .default-color5.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio6 .data6.chart-pie,
.Grigio6 .default-color6.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio7 .data7.chart-pie,
.Grigio7 .default-color7.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio8 .data8.chart-pie,
.Grigio8 .default-color8.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio9 .data9.chart-pie,
.Grigio9 .default-color9.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}
.Grigio10 .data10.chart-pie,
.Grigio10 .default-color10.chart-bar{
    -fx-pie-color: #C4C4C4;
    -fx-bar-fill: #C4C4C4;
}

/* YELLOW */
.Giallo0 .data0.chart-pie,
.Giallo0 .default-color0.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo1 .data1.chart-pie,
.Giallo1 .default-color1.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo2 .data2.chart-pie,
.Giallo2 .default-color2.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo3 .data3.chart-pie,
.Giallo3 .default-color3.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo4 .data4.chart-pie,
.Giallo4 .default-color4.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo5 .data5.chart-pie,
.Giallo5 .default-color5.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo6 .data6.chart-pie,
.Giallo6 .default-color6.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo7 .data7.chart-pie,
.Giallo7 .default-color7.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo8 .data8.chart-pie,
.Giallo8 .default-color8.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo9 .data9.chart-pie,
.Giallo9 .default-color9.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}
.Giallo10 .data10.chart-pie,
.Giallo10 .default-color10.chart-bar{
    -fx-pie-color: #FEB019;
    -fx-bar-fill: #FEB019;
}

/* GREEN */
.Verde0 .data0.chart-pie,
.Verde0 .default-color0.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde1 .data1.chart-pie,
.Verde1 .default-color1.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde2 .data2.chart-pie,
.Verde2 .default-color2.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde3 .data3.chart-pie,
.Verde3 .default-color3.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde4 .data4.chart-pie,
.Verde4 .default-color4.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde5 .data5.chart-pie,
.Verde5 .default-color5.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde6 .data6.chart-pie,
.Verde6 .default-color6.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde7 .data7.chart-pie,
.Verde7 .default-color7.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde8 .data8.chart-pie,
.Verde8 .default-color8.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde9 .data9.chart-pie,
.Verde9 .default-color9.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}
.Verde10 .data10.chart-pie,
.Verde10 .default-color10.chart-bar{
    -fx-pie-color: #00E396; 
    -fx-bar-fill: #00E396;
}

/* Blu */
.Blu0 .data0.chart-pie, 
.Blu0 .default-color0.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu1 .data1.chart-pie, 
.Blu1 .default-color1.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu2 .data2.chart-pie, 
.Blu2 .default-color2.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu3 .data3.chart-pie, 
.Blu3 .default-color3.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu4 .data4.chart-pie, 
.Blu4 .default-color4.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu5 .data5.chart-pie, 
.Blu5 .default-color5.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu6 .data6.chart-pie, 
.Blu6 .default-color6.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu7 .data7.chart-pie, 
.Blu7 .default-color7.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu8 .data8.chart-pie, 
.Blu8 .default-color8.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu9 .data9.chart-pie, 
.Blu9 .default-color9.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}
.Blu10 .data10.chart-pie, 
.Blu10 .default-color10.chart-bar{
    -fx-pie-color: #008FFB; 
    -fx-bar-fill: #008FFB;
}

/* Viola */
.Viola0 .data0.chart-pie,
.Viola0 .default-color0.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola1 .data1.chart-pie,
.Viola1 .default-color1.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola2 .data2.chart-pie,
.Viola2 .default-color2.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola3 .data3.chart-pie,
.Viola3 .default-color3.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola4 .data4.chart-pie,
.Viola4 .default-color4.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola5 .data5.chart-pie,
.Viola5 .default-color5.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola6 .data6.chart-pie,
.Viola6 .default-color6.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola7 .data7.chart-pie,
.Viola7 .default-color7.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola8 .data8.chart-pie,
.Viola8 .default-color8.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola9 .data9.chart-pie,
.Viola9 .default-color9.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}
.Viola10 .data10.chart-pie,
.Viola10 .default-color10.chart-bar{
    -fx-pie-color: #9C27B0; 
    -fx-bar-fill: #9C27B0;
}

.progress-bar:determinate .track {
    -fx-background-color: #272E52;
    -fx-border-width: 0 0 0 0;
}