.label-anno {
	-fx-font-size: 14;
	-fx-font-weight: 800;
	-fx-text-fill: #ffffff;
	-fx-padding: 2 10 2 10;
	-fx-cursor: hand;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

.label-anno:hover {
	-fx-background-color: #374856;
}

.casella-diagramma {
	-fx-cursor: hand;
	-fx-padding: 2 2 2 2;
}

.casella-diagramma:hover {
	-fx-border-color: #008FFB;
	-fx-border-width: 2 2 2 2;
}